.yellow {
  background: #F6CB51
}
.orange {
  background: #E25942
}
.light-blue {
  background: #13A89E
}
.blue {
  background: #3F4953
}
.light-grey {
  background: #F2E7DA
}


.dark-blue{
  background: #2C3E50
}
.light-orange {
  background: #E74C3C
}
.white {
  background: #ECF0F1
}
.light-blue2 {
  background: #3498DB
}
.darker-blue {
  background: #09455C
}

.green {
  background: #F5FFCC;
}